@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);

.arabic-content{
    font-family: 'Amiri';
    text-align: right;
    direction: rtl;
}

body{
    text-align: right;
    direction: rtl;
}

nav a{
    font-size: large;
    font-weight: bold;
}

.navbar-brand{
    font-size: x-large;
}
