@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.arabic-content{
    font-family:  Amiri, Droid Arabic Naskh, Times New Roman, Times;
    font-size: large;
}

body{
    text-align: right;
    direction: rtl;
    font-size-adjust: inherit;
}

.ltr-content{
    direction: ltr;
}

nav a{
    font-size: large;
    font-weight: bold;
}

.navbar-brand{
    font-size: x-large;
}

.card,.card *{
    border-color: #5e357952;
    text-align: center;
}

.addon-checkbox-right{
    border-left: 0;
    border-right: 1px solid #5e357952 !important;
    border-radius: 0rem 0.4rem 0.4rem 0rem !important;
}

.addon-textarea-right{
    border-radius: 0.4rem 0rem 0rem 0.4rem !important; 
}

.input-group-addon.removed-border-right
{
    border-right: 0;
    border-radius: 0rem;
    width: 5rem !important;
    padding-right: 0rem !important;
}

form.jumbotron{
    border-color: #a8f6c6b2;
    border-style: solid;
    text-align: center;
}

.card-header{
    background-color: #a8f6c675;
}

form.jumbotron select,
form.jumbotron span,
form.jumbotron input,
hr{
    border-color:#5e357952;
}

form.jumbotron *:not(button){
    text-align: right;
}

.invalid{
    color: red;
    border-color: red !important;
}
@media screen and (min-width: 240px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 360px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 2rem;
    }
}


