@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.arabic-content{
    font-family:  Amiri, Droid Arabic Naskh, Times New Roman, Times;
}

body{
    text-align: right;
    direction: rtl;
}

.ltr-content{
    direction: ltr;
}

nav a{
    font-size: large;
    font-weight: bold;
}

.navbar-brand{
    font-size: x-large;
}

.card,.card *{
    border-color: #0c864981;
    text-align: center;
}

.input-group-addon.input-group-addon-checkbox{
    border-left: 0;
    border-right: 1px solid #0c864981;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
}

.form-control.textarea-right{
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}


