mixin displayAltarikaForm()
  - const altarikaTypes = ["أموال", "عقار"]
  h5.arabic-content ادخل تفاصيل التركه
  hr.my-2.col-10.mr-0
  .col-12.col-sm-6
  each tarikaType in altarikaTypes
    .col-12.col-lg-10
      .input-group.arabic-content.mb-2
        span.input-group-addon.addon-checkbox-right
          input(type='checkbox', id="test",
            aria-label='Checkbox for following text input')             
        span.input-group-addon.removed-border-right #{tarikaType}     
        input.form-control.addon-textarea-right(name= tarikaType, 
          type='text', disabled, placeholder=0)  