doctype html
html(lang='ar')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title اﻹستحقاقات في اﻹسلام
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/minty/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    
  body
    .jumbotron.pt-3.mb-0.pb-0
      .container(align="middle")
        img.img-fluid.pb-2(src="/images/logo.png" alt="بسم الله الرحمن الرحيم")
      .container-fluid
        #banner.page-header.mt-0
          .row
            .col-12
              h1#appName.arabic-content.text-secondary اﻹستحقاقات في اﻹسلام  
          .row
            .col-sm-12.mr-sm-5.mr-4
              p.arabic-content تطبيق لحساب الميراث ,الزكاه ,الديه والفي حسب قوانينها المنصوص عليها في الشريعه اﻹسلاميه    
      hr.my-1
      .container-fluid.ml-0.pl-0.mr-0.pr-0
        block content1
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
