extends main-layout

block content1
  // Nav tabs
  ul#mirathNav.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#tab1Id') Home
    |       
    li.nav-item
      a.nav-link(href='#tab2Id') Another link
    |       
    li.nav-item
      a.nav-link.disabled(href='#tab2Id') Disabled

  // Tab panes
  .tab-content
    #tab1Id.tab-pane.fade.in.active(role='tabpanel')
    |       
    #tab2Id.tab-pane.fade(role='tabpanel')
    |       
    #tab3Id.tab-pane.fade(role='tabpanel')

  // Mirath nav script
  script.
      $('#mirathNav a').click(e => {
      e.preventDefault();
      $(this).tab('show');
      });
       
  block content2