extends layouts/main-layout

block content1
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p !{content.replace(/\n/g,'<br/>')}
      