extends layouts/main-layout
include ./includes/sharedHTMLFunctions

block content1
  nav.navbar.navbar-expand-sm.navbar-dark.arabic-content.bg-primary
    a.navbar-brand(href='/about') نبذه عن التطبيق       
    button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #collapsibleNavId.collapse.navbar-collapse
      ul.float-xs-right.navbar-nav.mt-2.mt-lg-0
        +displayNavItems(items)
      