extends layouts/mirath-layout
include includes/mirath-mixins

block content2
  center         
    form.pr-0.pl-0(id="alwrathaData", method="POST",
      action= "/mirath/alwratha")
      .col-12.col-sm-10.col-lg-8
        +createCards(listOfAlwartha)
      button.btn.btn-primary.btn-lg.arabic-content.mb-4(
        id="submitAlwratha", type="submit",
        aria-disabled='true') أحسب اﻷنصبة
    +addModal()
  script(src="/scripts/mirath/alwratha.brow.js")

  