extends layouts/mirath-layout
include includes/sharedHTMLFunctions

block content2
  .container-fluid.pr-0.pl-0(align="middle")
    .col-12.col-sm-10.col-lg-8
      .card.mb-3.mt-3
        h5.card-header.text-center.arabic-content إستحقاق الورثه  
        .card-body.arabic-content
          +displayResultTable(result)
    .row
      .col-6
        a.btn.btn-primary.btn-lg.arabic-content(href='/mirath/result',
        role='button', aria-disabled='true') أطبع النتيجه
      .col-6
        a.btn.btn-outline-info.btn-lg.arabic-content(href='/mirath/result/detail',
        role='button', aria-disabled='true') التفاصيل
  script(src="/javascripts/mirath-result.js")