extends layouts/mirath-layout
include includes/sharedHTMLFunctions

block content2
  center(style="position: relative;")
    +createCarousel(ayat)
  script(src= "/javascripts/general-script.js")
  
      