extends layouts/mirath-layout
include includes/sharedHTMLFunctions

block content2
  center(style="position: relative;")
    +createCarousel(ayat)
    +createThreeButtons("إدخال التركة", "/mirath/altarika/", '',
      "إدخال الورثة", "/mirath/alwratha", "/")
  script(src="/scripts/mirath/home.brow.js")  
      